{
  "repositoryUrl": "https://github.com/ntziortzis/devops-test.git",
  "branches": [
    { "name": "main" },
    { "name": "dev", "prerelease": "rc" }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}

